body {
    background-color: #e7bf0a;
    background: linear-gradient(to left, #4c4cb4, #28285f);
}
a {
    text-decoration: none;
}
.ub {
    font-family: 'Ubuntu';
}

.foo {
    background-image: url('../images/bg.png');
    background-size: 200%;
}
