@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  /* colors */
  --primary-color: #00171f;
  --secondry-color: #fff;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
body * {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  color: var(--secondry-color);
}
.mini-login-form {
  position: relative;
  display: inline-block;
}
.mini-login-form > *:not(svg) {
  height: 48px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 48px;
  background-color: var(--primary-color);
}
.login-btn {
  width: 152px;
  cursor: pointer;
}
.loginbtn:hover {
  background-color: #0e0e0e;
}
.email-input,
.password-input {
  width: 304px;
  padding: 16px;
  display: none;
  cursor: text;
}
.validation-email-btn,
.validation-password-btn {
  position: absolute;
  display: none;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
.welcome-massage {
  display: none;
  width: 152px;
  justify-content: center;
  align-items: center;
  cursor: default;
  animation: hide 1s 0.5s alternate forwards;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
